.container{
    width: 650px;
    height: min-content ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid 1px black;
    margin: 20px;
    padding: 15px;
    background-color: rgb(50, 50, 50);
    color: azure;
}

img {
    max-width: 150px;
    max-height: 150px;
    grid-column: 1;
}
