<div class="container">
    {{character.id}}
        <img [src]="character.image">
        <p> 
            Name: {{character.name}} |
            Status: {{character.status}} |
            Species: {{character.species}} |
            Type: {{character.type}} |
            Gender: {{character.gender}} |
            Origin Name: {{character.origin.name}} |
            Origin Url:{{character.origin.url}} |
            Location Name:{{character.location.name}} |
            Location Url:{{character.location.url}} |
            Url:{{character.url}} |
            Created:{{character.created}}
        </p>
    </div>
